/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: 'Signika Negative';
  height: 100%;
}

h1,
h2,
h3 {
  font-weight: 700;
}

p {
  font-weight: 300;
}

.wrapper {
  animation: scroll 70s linear infinite;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../../../miportfolio/miportfolioFrontend/src/assets/fondo1.png), #111111;
  color: #ececec;

  width: 100%;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

.slick-next:before {
  content: "" !important;
  display: inline-block;
  width: 60px;
  height: 96px;
  position: relative;
  top: -32px;
  background: url(../src/assets/der.png) no-repeat 0 0;
  background-size: 100%;
  opacity: .55 !important;
}

.slick-prev:before {
  content: "" !important;
  display: inline-block;
  width: 60px;
  height: 96px;
  position: relative;
  top: -32px;
  left: -200%;
  background: url(../src/assets/izq.png) no-repeat 0 0;
  background-size: 100%;
  opacity: .55 !important;
}
.slick-dots li button:before {
  font-size: 11px !important;
  opacity: .25 !important;
  color: white !important;
    
}
.slick-dots li {
  margin: 0 3px !important;
}
.slick-dots li.slick-active button:before {
  opacity: .75 !important;
  color: rgb(255, 255, 255) !important;
}
.slick-dots {
  bottom: -35px !important;
}