#logoAP{
    width: 150px;
}
img{
    width: 40px;
    padding-right: 5px;
}
.container{
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.btn{
    border-width: 2px;
    color: white;
    background-color: transparent;
}
.redes a:nth-child(3) {
    margin-right: 5px;
  }
  .redes a:nth-child(4) {
    margin-right: 10px;
  }