#padding1{
    padding: 20px;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.nopadding{
    padding: 0%;
}
.paddingizqder{
    padding-left: 58px ;
    padding-right: 17px ;
}
.paddingizqder1{
    padding-left: 0px ;
    padding-right: 58px ;
}
.paddingizqder2{
    padding-left: 0px ;
    padding-right: 58px ;
    text-align: right;
}
.margen1{
    margin-bottom: 30px;
}
#margen{
    padding: 20px;
    display: flex;
    justify-content: center;
}

#btn_exp {
    background-color: #000066;
    border-color: #000066;
    color: white;
}

.botones_editar{
    position: relative;
    height: 0;
    width: 92px;
    top: -17px;
    right: -84%;
}

@media(max-width:575px){
    .botones_editar{
        position: relative;
        height: 0;
        width: 92px;
        top: -17px;
        right: -84%;
    }
}

.bi-trash{
    top: 1.2px;
    left: 0.4px;
    position: relative;
}

.imgboxshadow{
    box-shadow: 10px 10px 6px 0px rgba(36,32,214,0.67);
-webkit-box-shadow: 10px 10px 6px 0px rgba(36,32,214,0.67);
}
.imgboxshadow1{
    box-shadow: -10px 10px 6px 0px rgba(36,32,214,0.67);
    -webkit-box-shadow: -10px 10px 6px 0px rgba(36,32,214,0.67);
}
@media(max-width:767px){
    .paddingizqder{
        padding-left: 17px ;
        padding-right: 17px ;
    }
    .paddingizqder1{
        padding-left: 6% ;
        padding-right: 6% ;
    }
    h2{
        text-align: center;
    }
}

@media(max-width:767px){
    p{
        display: flex;
        align-items: center;
        height: auto !important;
    }
}