<div class="row">
    <h1 class="text-center" id="padding1">Proyectos realizados</h1>
    <div class="row nopadding margen1">
        <div class="col-sm-12 col-md-7 col-lg-7 nopadding paddingizqder">
            <h2>Portfolio Web</h2>
            <p>Comenzé a realizar este proyecto para Argentina programa a comienzos de Febrero de 2023. 
                Consistió de mucha investigación, prueba y error de codigo para obtener lo que me habia imaginado. Como pueden ver es la pagina web actual y pueden acceder al codigo en mi repositorio de Github.
            </p>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 nopadding paddingizqder1 align-self-center">
            <img src="../../../assets/img de portfolio en progreso.png" class="img-fluid imgboxshadow">
        </div>
    </div>
</div>
