#margen{
    padding: 20px;
    display: flex;
    justify-content: center;
}

#btn_exp {
    background-color: #000066;
    border-color: #000066;
    color: white;
}

.botones_editar{
    position: relative;
    top: -16px;
    right: -37%;
    height: 0px;
}

@media(max-width:575px){
    .botones_editar{
        position: relative;
        height: 0px;
        width: 92px;
        top: -5px;
        right: -33%;
    }
}

.bi-trash{
    top: 1.2px;
    left: 0.4px;
    position: relative;
}

#padding1{
    padding: 20px;
}
.nopadding{
    padding: 0%;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.paddingtopbot{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 0%;
}
.paddingtopbot2{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0px;
    padding-bottom: 0%;
}
