#padding1{
    padding: 20px;
}
.nopadding{
    padding: 0%;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.paddingtopbot{
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 20px;
    padding-bottom: 0%;
}
.progress_backgroundhtml{
    background-image: url("../../../assets/html.png");
    background-repeat: no-repeat;
    background-position: bottom 57% right 50%;
    background-size: 25%;
}
.progress_backgroundcss{
    background-image: url("../../../assets/CSS.png");
    background-repeat: no-repeat;
    background-position: bottom 57% right 50%;
    background-size: 25%;
}
.progress_backgroundjava{
    background-image: url("../../../assets/js.png");
    background-repeat: no-repeat;
    background-position: bottom 57% right 50%;
    background-size: 25%;
}
.progress_backgroundteamwork{
    background-image: url("../../../assets/grupal.png");
    background-repeat: no-repeat;
    background-position: bottom 65% right 50%;
    background-size: 20%;
}
.progress_backgroundingles{
    background-image: url("../../../assets/eng.png");
    background-repeat: no-repeat;
    background-position: bottom 65% right 50%;
    background-size: 25%;
}
.progress_backgroundgithub{
    background-image: url("../../../assets/git.png");
    background-repeat: no-repeat;
    background-position: bottom 57% right 50%;
    background-size: 25%;
}