<div class="row">
    <h1 class="text-center padding" id="padding1">Hard & Soft Skills</h1>
    <div class="row paddingtopbot">
        <div class="col-sm-4 col-md-4 col-lg-4 nopadding progress_backgroundhtml" align="center">
            <circle-progress
                [percent]="80"
                [animation]="true"
                [title]="[' ',' ',' ',' ','80%']"
                [subtitle]="['']"
                [backgroundGradient]="false"
                [backgroundColor]="'transparent'"
                [titleFontSize]="'31'"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 nopadding progress_backgroundcss" align="center">
            <circle-progress
                [percent]="50"
                [animation]="true"
                [title]="[' ',' ',' ',' ','50%']"
                [subtitle]="['']"
                [backgroundGradient]="false"
                [backgroundColor]="'transparent'"
                [titleFontSize]="'31'"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 nopadding progress_backgroundjava" align="center">
            <circle-progress
                [percent]="90"
                [animation]="true"
                [title]="[' ',' ',' ',' ','90%']"
                [subtitle]="['']"
                [backgroundGradient]="false"
                [backgroundColor]="'transparent'"
                [titleFontSize]="'31'"
            ></circle-progress>
        </div>
    </div>

    <div class="row paddingtopbot2">
        <div class="col-sm-4 col-md-4 col-lg-4 nopadding progress_backgroundteamwork" align="center">
            <circle-progress
                [percent]="100"
                [animation]="true"
                [title]="[' ',' ',' ',' ','100%']"
                [subtitle]="[' ','Dispuesto de','aprender']"
                [backgroundGradient]="false"
                [backgroundColor]="'transparent'"
                [titleFontSize]="'31'"
                [subtitleFontSize]="'14'"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 nopadding progress_backgroundingles" align="center">
            <circle-progress
                [percent]="100"
                [animation]="true"
                [title]="[' ',' ',' ','100%']"
                [subtitle]="['Ingles',' ']"
                [backgroundGradient]="false"
                [backgroundColor]="'transparent'"
                [titleFontSize]="'31'"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 nopadding progress_backgroundgithub" align="center">
            <circle-progress
                [percent]="40"
                [animation]="true"
                [title]="[' ',' ',' ',' ','40%']"
                [subtitle]="['']"
                [backgroundGradient]="false"
                [backgroundColor]="'transparent'"
                [titleFontSize]="'31'"
            ></circle-progress>
        </div>
    </div>
</div>