<div *ngIf="islogged" class="botones_editar">
    <button type="button" routerLink="/editpersona/1" class="btn btn-primary"
    style="--bs-btn-padding-x: .4rem; --bs-btn-padding-y: .4rem;" id="btn_exp">
    <i class="bi bi-pen" style="color: white;"></i>
    </button>
</div>

<div class="row" id="divdehacercadegral">



    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="divdespans">
        <img *ngIf="persona?.decompressedImageData" [src]="'data:image/jpeg;base64,' + persona.decompressedImageData" class="img-fluid" id="fotoperfil">
        <span id="spanmover">
            <p id="nombre">{{persona?.nombre}}</p>
            <p> {{persona?.subtitulo}} </p> 
        </span>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="paddingh1">Acerca de mí</h1>
            <p id="paddingp" style="overflow-wrap: break-word;"> {{persona?.descripcion}} </p>
        </span>
    </div>


</div>