.row{
    margin-right: 0;
    margin-left: 0;
}

#nombre{
    font-weight: bold;
    margin-top: 10%;
}
div{
    text-align: center;
    
}
#divdehacercadegral{
    min-height: 242px;
}
#paddingh1{
    padding: 15px;
    margin-top: 8px;
}
#paddingp{
    padding: 0px;
    margin: 0px;
}

.botones_editar{
    position: relative;
    width: 0px;
    height: 0px;
    right: -84%;
}


@media(min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 22%;
        border-radius: 100%;
        left: 13%;
        top: 236px;
    }
}

    #spanmover{
        left: 5%;
        top: 33%;
        position: relative;
    
    }


@media(min-width: 576px) and (max-width:741px){
    #spanmover{
        left: 5%;
        top: 113px;
        position: relative;
    }
}
@media(max-width: 575px){
    #fotoperfil{
        width: 50%;
        border-radius: 100%;
        position: absolute;
        top: 12%;
        left: 25%;
    }
    #divdespans{
        padding-top: 108px;
    }
    #nombre{
        font-size: 23px;
    }
    #paddingh1{
        padding: 15px;
        margin: 0px;
    }
    #spanmover{
        position: inherit;
    }
}
@media(max-width: 432px){
    #fotoperfil{
        width: 50%;
        border-radius: 100%;
        position: absolute;
        top: 14%;
        left: 25%;
    }
    
}

