<div class="row" id="divdehacercadegral">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="../../../assets/foto perfil.png" class="img-fluid" id="fotoperfil">
        <span id="spanmover">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p> Full Stack Developer Jr </p> 
        </span>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="paddingh1">Acerca de mí</h1>
            <p id="paddingp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati eveniet voluptatem vel eaque architecto assumenda tempore animi aspernatur! Voluptate sapiente impedit illo placeat porro laboriosam soluta dicta, minus veritatis aspernatur.</p>
        </span>
    </div>


</div>