#btn_exp {
    background-color: #000066;
    border-color: #000066;
    color: white;
}

.botones_editar{
    position: absolute;
    top: 3%;
    right: 3%;
}

.bi-trash{
    top: 1.2px;
    left: 0.4px;
    position: relative;
}

.list-group-item {
    color: aliceblue;
    background-color: black;
}

.row.card {
    flex-direction: row;
    background-color: inherit;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff6e;
}

.card {
    color: white;
    justify-content: center;
}