<div class="row">
  <h1 class="text-center padding" id="padding1">Experiencia laboral</h1>
  <div id="margen" *ngIf="islogged">
    <button type="button" class="btn btn-primary" id="btn_exp" routerLink="/nuevaexp">
      Nueva Experiencia
    </button>
  </div>
</div>

<div class="slick-wrapper" data-bs-theme="dark-mode">
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let Experiencia of expe; let i=index" class="slide">
      <div class="card card-custom-{{i}}" style="height: 450px;">
        <div class="card-body">
          <div *ngIf="islogged" class="botones_editar">
            <button type="button" routerLink="/editexp/{{Experiencia.id}}" class="btn btn-primary"
              style="--bs-btn-padding-x: .4rem; --bs-btn-padding-y: .4rem;" id="btn_exp">
              <i class="bi bi-pen" style="color: white;"></i>
            </button>
            <button type="button" (click)="delete(Experiencia.id)" class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .3rem; margin-left: 5px;" id="btn_exp">
              <i class="bi bi-trash" style="font-size: 1.2rem; color: white;"></i>
            </button>
          </div>
          <h5 class="card-title">{{Experiencia.nombreE}}</h5>
          <p class="card-text">{{Experiencia.descripcionE}}</p>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>

