<div class="row">
  <h1 class="text-center padding" id="padding1">Experiencia laboral</h1>
  <div id="margen">
    <button type="button" class="btn btn-primary" id="btn_exp" routerLink="/nuevaexp" *ngIf="islogged">
      Nueva Experiencia
    </button>
  </div>
</div>

<div class="slick-wrapper" data-bs-theme="dark-mode">
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let Experiencia of expe; let i=index" class="slide">
      <div class="card card-custom-{{i}}" style="height: 450px;">
        <div class="card-body">
          <div *ngIf="islogged" class="botones_editar">
            <button type="button" routerLink="/editexp/{{Experiencia.id}}" class="btn btn-primary"
              style="--bs-btn-padding-x: .4rem; --bs-btn-padding-y: .4rem;" id="btn_exp">
              <i class="bi bi-pen" style="color: white;"></i>
            </button>
            <button type="button" (click)="delete(Experiencia.id)" class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .3rem; margin-left: 5px;" id="btn_exp">
              <i class="bi bi-trash" style="font-size: 1.2rem; color: white;"></i>
            </button>
          </div>
          <h5 class="card-title">{{Experiencia.nombreE}}</h5>
          <p class="card-text">{{Experiencia.descripcionE}}</p>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>

<div class="col-md-7">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-body-secondary" style="color: white !important;">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="col-auto d-block">
          <img class="bd-placeholder-img" src="../../../assets/placeholder.jpg" alt="Placeholder: Thumbnail" width="200" height="250" />
        </div>        
      </div>
    </div>

   
    <div class="row card">
      <div class="col-4">

        <div class="list-group" [ngStyle]="{'max-height': isScrollable() ? '337px' : 'auto', 'overflow': isScrollable() ? 'auto' : 'visible'}">
          <div *ngFor="let item of items" (click)="updateDescription(item.description)">
            <a class="list-group-item list-group-item-action">{{ item.category }}</a>
          </div>
        </div>
        
      </div>
      <div class="col-8" style="padding-right: 12px; max-height: 337px;">
        <div>

          <h4>{{ description }}</h4>
          <div style="display: flex; justify-content: center;">
            <img style="max-height: 299px; max-width: 100%;" src="../../../assets/placeholder.jpg" alt="">
          </div>
        </div>
      </div>
    </div>